body {
  height: 100%;
  width: 99%;
}

.head1 {
  margin: 1px;
  font-weight: 200px;
}

.mainframe {
  margin: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  background: AQUA;
  border: 1px solid black;
}

.btnfrm {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  width: 100%;

  background: rgba(67, 168, 155, 0.57);
}

.dis1,
.dis2 {
  width: 90%;
  height: 10%;
  margin: auto;
  text-align: right;
  font-size: 32px;
  padding: 6px;
}

.dis2 {
  margin-bottom: 3px;
}

.numkey {
  font-size: 64px;
  text-align: center;
  width: 20%;
  height: 70px;
  margin: 2px;
  background: white;
}
