/* 
.box {
  display: grid;
  grid: repeat(2, 320px) / auto-flow 320px;
}

@media screen and (min-width: 480px) {

    .box1 {
  height: 30px;
  width: 30px;
  margin: 20px;
  background: blue;
}

.box {
  display: grid;
  grid: repeat(3, 100px) / repeat(3, 100px)
}
 */
* {
  font-family: arial;
}

.box {
  display: flex;
  flex-flow: column;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  visibility: hidden;
}

.menu {
  overflow: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  width: 100%;
  box-shadow: 0 4px 2px -2px gray;
}

body {
  height: auto%;
  width: auto;
}

.head1 {
  padding: 20px;
  font-size: 26px;
  margin-right: auto;
}

ol.lst1 li {
  list-style-type: none;
  font-size: 20px;
  font-family: Arial;
  padding: 20px 10px;
  display: inline;
  margin-right: 15px;
}

.btn1 {
  font-size: 20px;
  background-color: white;
  height: 50px;
  width: 100px;
  margin-right: 20px;
  color: rgb(44, 100, 255);
  border-radius: 5px;
  border-color: rgb(44, 153, 255);
}

.btn1:hover {
  color: rgb(13, 43, 126);
  border-color: rgb(41, 99, 153);
  background: rgb(78, 203, 209);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  transition: background-color, border-color, box-shadow, color 0.5s;
}

.main1 {
  display: flex;
  flex-flow: column;
  width: 55%;
  font-size: 22px;
  padding: 2px;
  margin: 2pc auto;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  border-bottom: 0.5px solid rgb(201, 202, 204);
}

.para1 {
  text-align: center;
  padding: 2px;
  margin: 2px 3px 8px 3px;
  width: 65%;
}

.head2 {
  margin: 20px 3px 5px 3px;
}

.boxes {
  display: flex;
  flex-flow: row;
  justify-content: center;
  height: 30%;
  width: 100%;
  margin: 20px;
}

.box1 {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 320px;
  width: 28%;
  margin: 20px auto 40px auto;
  box-shadow: 1px 0px 5px rgb(204, 205, 206);
  padding: 10px;
}

.ibox {
  text-align: center;
  height: 40px;
  padding: 0px;
  margin: 0px;
  width: 100%;
  background: rgb(235, 235, 235);
  border-bottom: 1px solid gray;
}

div.box1 h5 {
  padding: 8px;
  font-weight: 200;
  margin: 0px;
}

.head4 {
  display: inline;
  font-size: 48px;
  font-family: Leelawadee UI, arial;
  font-weight: 550;
  margin: 0px;
}

.para2 {
  text-align: center;
  color: rgb(135, 142, 149);
  padding: 10px 0px 8px 0px;
  display: inline;
  font-size: 32px;
}

.lst2 {
  font-size: 16px;
  list-style-type: none;
}

ol.lst2 li {
  margin: 2px 10px 0px -25px;
  padding: 2px;
}

.btn2 {
  margin: 20px auto;
  font-size: 20px;
  background-color: white;
  height: 40px;
  width: 200px;
  color: rgb(44, 100, 255);
  border-radius: 5px;
  border-color: rgb(44, 153, 255);
}

.btn2:hover {
  color: rgb(13, 43, 126);
  border-color: rgb(41, 99, 153);
  background: rgb(78, 203, 209);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  transition: background-color, border-color, box-shadow, color 0.5s;
}

.btn3 {
  margin: 20px auto;
  font-size: 20px;
  background-color: rgb(44, 153, 255);
  height: 40px;
  width: 200px;
  color: white;
  border-radius: 5px;
  border-color: rgb(44, 153, 255);
}

.btn3:hover {
  color: rgb(30, 180, 230);
  background-color: rgb(14, 54, 90);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow, background-color, border-color, color 0.5s;
}
/* 
div.box1 h5 {
  font-weight: 200;
  text-align: center;
  padding: 5px;
  background: rgb(235, 235, 235);
  width: 100%;
  overflow: hide;
  margin: 0px;
  box-shadow: 0 4px 2px -2px gray;
} */

.foot {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 2pc auto 0px auto;
  width: 55%;
  height: auto;
}

.foot1 {
  width: 28%;
  margin: 4px;
}

.foot2 {
}

.letter {
  text-align: center;
  padding: 3px;
  border-radius: 5px;
  height: 20px;
  width: 20px;
  font-size: 20px;
  background: rgb(86, 62, 124);
  color: white;
}

.foot1 h2 {
  font-weight: 200;
  padding: 2px 0px;
}

.letter2 {
  display: inline-block;
  color: gray;
  margin: 3px;
}

.lst2 {
  color: gray;
  padding: 0px;
  list-style-type: none;
  text-align: left;
}

ul.lst2 li {
  padding: 05px 05px 20px 05px;
}

@media screen and (max-width: 655px) {
  .menu {
    overflow: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    width: 100%;
    box-shadow: 0 4px 2px -2px gray;
  }

  ol.lst1 li {
    list-style-type: none;
    font-size: 20px;
    font-family: Arial;
    padding: 2px;
    display: none;
    margin-left: auto;
  }

  .head1 {
    padding: 03px;
    font-size: 26px;
    margin-right: auto;
    display: inline;
  }

  .btn1 {
    font-size: 20px;
    background-color: white;
    height: 50px;
    width: 80px;
    margin-right: 20px;
    color: rgb(44, 100, 255);
    border-radius: 5px;
    border-color: rgb(44, 153, 255);
  }
  .para1 {
    text-align: left;
    font-size: 16px;
    padding: 2px;
    margin: 2px 3px 8px 3px;
  }
  .boxes {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 20%;
    width: 90%;
    text-align: center;
  }
  .box1 {
    text-align: center;
    width: 80%;
    margin: 15px auto;
  }
  .main1 {
    display: flex;
    flex-flow: column;
    width: 99%;
    font-size: 22px;
    padding: 2px;
    margin: 2pc auto;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
  }
    .material-symbols-outlined {
    order: 1;
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
    visibility: visible;
    margin-left: auto;
  }

  ol.lst1 > li {
    visibility: hidden;
  }
  .menu {
    width: 655px;
  }

}

@media screen and (max-width: 1430px) {
  .boxes {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 30%;
    width: 90%;
    text-align: center;
  }
  .box1 {
    width: 80%;
    margin: 15px auto;
  }

  .foot {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: 2pc auto 0px auto;
    width: 95%;
    height: auto;
  }
/* 
@media screen and (max-width: 930px) {
  .material-symbols-outlined {
    order: 1;
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
    visibility: visible;
    margin-left: auto;
  }

  .material-symbols-outlined:hover li{
    list-style-type: none;
    font-size: 20px;
    font-family: Arial;
    padding: 20px 10px;
    margin-right: 15px;        
  }

  ol.lst1 > li {
    visibility: hidden;
  }
  .menu {
    width: 930px;
  }
} */
